<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alto Project: Insecure App">
    <meta name="version" content="v1.2">

    <title>Alto Code Review</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="vendor/theme/sb-admin.css" rel="stylesheet">
    <link href="vendor/theme/pwd-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/theme/font-awesome/css/font-awesome.min.css">

    <style type="text/css">
    #wrapper {
        padding-left: 0;
    }
    </style>

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Alto Code Review Project</a>
            </div>
            
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div style="text-align: center; padding: 30px">
                        <img src="/images/alto_logo.png" height="80px">
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-4"></div>

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align: center">
                            <br/>
                            <span style="font-size: medium">Employee Retirement Savings Management</span>
                            <br/>
                            <br/>
                        </div>
                        <div class="panel-body">


                            {% if loginError %}
                            <div class="alert alert-dismissable alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{loginError}}
                            </div>
                            {% endif %}



                            <form method="post" role="form" method="post" id="loginform">
                                <div class="form-group">
                                    <label for="userName">User Name</label>
                                    <input type="text" class="form-control" id="userName" name="userName" value="{{userName}}" placeholder="Enter User Name">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" value="{{password}}" placeholder="Enter Password">
                                </div>
                                <input type="hidden" name="_csrf" value="{{csrftoken}}" />

                                <div class="row">
                                    <div class="col-lg-4"><a href="#">New user? Sign Up</a></div>
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->
        <!-- /.row -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <!-- Load live reload script -->
    <script type="application/javascript">
    document.write("<script src='http://" + (location.host || "localhost").split(":")[0] + ":35729/livereload.js'></" + "script>");

    const areCookiesEnabled = () => {
        const cookieEnabled = navigator.cookieEnabled;

        // When cookieEnabled flag is present and false then cookies are disabled.
        if (!cookieEnabled) return false;

        // try to set a test cookie if we can't see any cookies and we're using
        // either a browser that doesn't support navigator.cookieEnabled
        // or IE (which always returns true for navigator.cookieEnabled)
        if (!document.cookie && cookieEnabled === null) {
            document.cookie = "testcookie=1";

            if (!document.cookie) return false;
           
            document.cookie = "testcookie=; expires=" + new Date(0).toUTCString();
            
        }

        return true;
    }

    $(document).ready(() => {
        if (!areCookiesEnabled()) {
            $("#page-wrapper").prepend("<div class=\"row\"><div class=\"col-lg-12\"><div class=\"alert alert-danger\">Cookies are not enabled on your browser. Please enable cookies in your browser preferences to continue.</div></div></div>");
        }
    });
    </script>

</body>

</html>